### Intro to DataFrames
##### It allow us to perform extra functionalities for table

In [8]:
import pandas as pd

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=["A","B","C"], index=["x","y","z"])

In [14]:
df.head(3) # gives first 3 columns

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [15]:
df.tail(3) # gives last 3 columns

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [ ]:
df.describe() # gives mean, row count and other values for table

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [17]:
df.index # gives index of row

Index(['x', 'y', 'z'], dtype='object')

In [ ]:
df.info() # info of whole table

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [19]:
df['A'].unique() # gives unique value of column A

array([1, 4, 7])

In [20]:
df.nunique()

A    3
B    3
C    3
dtype: int64

In [22]:
df.shape # (row,column)

(3, 3)

In [23]:
df.size

9